<script type="text/javascript" src="/javascripts/Silverlight.js"></script>

<script type="text/javascript">

var aspect_contacts = <%= raw json_aspect_contacts %>;
var user_id         = "<%= current_user.diaspora_handle %>";

function onSilverlightError(sender, args) {
    var appSource = "";
    if (sender != null && sender != 0) {
        appSource = sender.getHost().Source;
    }

    var errorType = args.ErrorType;
    var iErrorCode = args.ErrorCode;

    if (errorType == "ImageError" || errorType == "MediaError") {
        return;
    }

    var errMsg = "Unhandled Error in Silverlight Application " + appSource + "\n";

    errMsg += "Code: " + iErrorCode + "    \n";
    errMsg += "Category: " + errorType + "       \n";
    errMsg += "Message: " + args.ErrorMessage + "     \n";

    if (errorType == "ParserError") {
        errMsg += "File: " + args.xamlFile + "     \n";
        errMsg += "Line: " + args.lineNumber + "     \n";
        errMsg += "Position: " + args.charPosition + "     \n";
    }
    else if (errorType == "RuntimeError") {
        if (args.lineNumber != 0) {
            errMsg += "Line: " + args.lineNumber + "     \n";
            errMsg += "Position: " + args.charPosition + "     \n";
        }
        errMsg += "MethodName: " + args.methodName + "     \n";
    }

    throw new Error(errMsg);
}

function LoadSilverlight() {
    var divTag = document.createElement("div");       
    divTag.id = "silverlightControlHost";
    divTag.setAttribute("align","center");        
    document.body.appendChild(divTag);
    createSL();
}

function createSL() {

//THIS OBJECT TAG I HAVE TAKEN FROM THE DIASPORA CODE THAT WE SENT YOU, IF YOU 
//  HAVE DONE ANY CHANGE IN THIS OBJECT TAG, YOU HAVE TO MODIFY IN THIS STRING
var object_data = "<object data='data:application/x-silverlight-2,' id='SLObj' type='application/x-silverlight-2' width='100%' height='99%' style='visibility: hidden;'><param name='source' value='/data/LSC.xap' /><param name='onError' value='onSilverlightError' /><param name='background' value='white' /><param name='minRuntimeVersion' value='4.0.50826.0' /><param name='autoUpgrade' value='true' /><param name='scalemode' value='Stretch' /><a href='http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.50826.0' style='text-decoration: none'><img src='http://go.microsoft.com/fwlink/?LinkId=161376' alt='Get Microsoft Silverlight' style='border-style: none' /></a></object><iframe id='_sl_historyFrame' style='visibility: hidden; height: 0px; width: 0px;border: 0px'></iframe>";
    
var slDIV = document.getElementById('silverlightControlHost');
    if(slDIV == null || slDIV == undefined)
    {
        alert('Silverlight DIV not created.');
    }
    else
    {
        slDIV.innerHTML = object_data;
    }
}

function ChangeState(control) {
    
    //CODE TO LOAD THE XAP FILE ON THE FLY - YOU MAY HAVE TO MODIFY IT ACCORDING TO DIASPORA
    
    //CHECK IF LSC ALREADY LOADED - IF NO, THEN CALL LOADSILVERLIGHT()
    var slObj = document.getElementById('SLObj');       
    if(slObj == null || slObj == undefined)
    {        
        LoadSilverlight();
    }

    controlValString = "";
    $(control).parents('.post-control').first().find(':input').each(function(){
      if ($(this).val() && !$(this).is(':submit')) {
        if (($(this).is(':radio') || $(this).is(':checkbox')) && !$(this).is(':checked')) {
          return;
        }
        controlValString += $(this).data('field') + "#$#" + $(this).val();
        controlValString += "#$#$#";
      }
    });

    controlValString     += "aspectId#$#" + AspectFilters.selectedGUIDS.join(",") + "#$#$#";

    concat_aspect_contacts = []
    for (i = 0; i < AspectFilters.selectedGUIDS.length; i++){
      concat_aspect_contacts.push(AspectContacts[AspectFilters.selectedGUIDS[i]]);
    }

    controlValString     += "aspectContacts#$#" + concat_aspect_contacts.join(",") + "#$#$#";
    controlValString     += "userId#$#" + user_id + "#$#$#";

    //INVOKE THE LSC METHOD TO GET THE NEW INSTRUCTIONS, IF A RELOAD IS REQUIRED IT'LL BE DONE FROM INSIDE THE LSC
    var control = document.getElementById("SLObj");
    control.Content.Page.GetInstructions(controlValString);
}

$(document).ready(function(){
  $('.post-control input[type=radio]').live('click', function(){
    var group = $(this).data('radio-group');
    $(this).parents('.post-control').find(':radio[data-radio-group='+ group +']').attr('checked', false);
    $(this).attr('checked', 'checked');
  });
});

</script>

<div id="silverlightControlHost">
  <object id="SLObj" data="data:application/x-silverlight-2," type="application/x-silverlight-2" width="0" height="0">
    <param name="source" value="/data/LSC.xap" />
    <param name="onError" value="onSilverlightError" />
    <param name="background" value="white" />
    <param name="minRuntimeVersion" value="4.0.50826.0" />
    <param name="autoUpgrade" value="true" />
    <param name="scalemode" value="Stretch" />
    <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.50826.0" style="text-decoration: none">
        <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
    </a>
  </object>
  <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px;
      border: 0px"></iframe>
</div>