<!--
###########################################################################
# Privacies Code
This generates the button LFN
It basically loads XAP file with the arguments passed to this aspect.
###########################################################################
-->


<div style="float:right;">
  <%= link_to "Lfn", aspects_lfn_path(Lfn::url_params(:user => current_user, :aspect_id => aspect_id)) %>
</div>