<div style="float:right;">
  <%= link_to "Lfn", aspects_lfn_path.to_s+"?siteOwner=arunim&currentUser=arunim&siteName=RRarunim612201042&token=afbfed92-831f-4164-8b2e-22636c29796c&lfnid=YXJ1bmltIyQjVElDS0VUXzAxMTExMmJlMDU5YmU4ZWExYjBiMmJiMzlmYWU2MWRkMzdkY2FiZjIjJCNhZG1pbkAxMjM%3d" %>
</div>